<p>
  Copyright &copy; {{ site.time | date: "%Y" }} - {{ site.author }} -
  <span class="credit">Powered by <a href="http://octopress.org">Octopress</a> | <a href="http://github.com/jcsims/org.chrissims">Source</a></span>
  <a href="https://github.com/jcsims"><img class="social-icons" src="/images/social/github.png" alt="chris on github" /></a>
  <a href="http://www.linkedin.com/pub/chris-sims/"><img class="social-icons" src="/images/social/linkedin.png" alt="chris on LinkedIn" /></a>
  <a href="http://facebook.com/jcsims/"><img class="social-icons" src="/images/social/facebook.png" alt="chris on Facebook" /></a>
  <a href="http://twitter.com/jcsims"><img class="social-icons" src="/images/social/twitter.png" alt="chris on Twitter" /></a>
  <a href="http://flickr.com/jcsims"><img class="social-icons" src="/images/social/flickr.png" alt="chris on flickr" /></a>
  <a href="http://youtube.com/jcsims1"><img class="social-icons" src="/images/social/youtube.png" alt="chris on youtube" /></a>
</p>
