// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

.social-icons {
    float: right;
    margin: 5px;
    opacity: .65;
}

.social-icons:hover {
  opacity: 1;
}

.book_cover {
	vertical-align: middle;
	margin: 1em;
	border: 2px solid #ccc;
}